<p>Hello,</p>
<p>{{userName}} <b>has decided to share their data</b> with {{userNameDestiny}}. We have sent access instructions to {{userNameDestiny}}</p>
<p>If you have any doubts or questions about <a href="{{client_server}}">Relief Ukraine</a>, please reply to this email.</p>
<p>Thank you very much for using Relief Ukraine. Find out how you can help more families with <a href="https://raito29.azurewebsites.net/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">reliefukraine.net</a>.</p>
<p>Sincerely,</p>
