<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Relief Ukraine">
      </br>
</div>
<h4>Дякуємо за реєстрацію.</h4>
<p>Натисніть це посилання, щоб активувати обліковий запис: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Активувати обліковий запис</a></p>
