<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Relief Ukraine">
      </br>
</div>
<h4>Information about your case progress.</h4>
<p>We would like to inform you that your case is in progress. “{{group}}” is managing your case and this mail is to inform you that the case status it is now the following: “{{status}}”. </p>