<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Relief Ukraine">
      </br>
</div>
<h4>Información sobre el progreso de su caso.</h4>
<p>Nos gustaría informarle que su caso está en curso. “{{group}}” está gestionando su caso y este correo es para informarle que el estado del caso ahora es el siguiente: “{{status}}”. </p>