<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Relief Ukraine">
      </br>
</div>
<h4>Інформація про хід справи.</h4>
<p>Повідомляємо, що ваша справа триває. “{{group}}” керує вашою справою, і це повідомлення повідомляє вас, що статус справи тепер такий: “{{status}}”. </p>